.liked-posts {
    margin: 15px 0px;
    position: relative;
    height: 80px;
}
.liked-posts .btn-default {
    position: absolute;
    left: 0px;
    top: 28px;
}
.liked-posts .share-button {
    position: absolute;
    right: 0px;
    top: 0px;
}
.liked-posts .dashicons-heart {
    color:red;
    font-size:18px;
    margin-right: 5px;
}
.liked-posts .g-plusone-share {
    position: absolute;
    right: 66px;
    top: 8px;
}
.liked-posts .share-button {
    display: inline-block;
    float:right;
    margin-top: 7px;
}
.liked-posts .liked-post-loading {
    width: 10px;
}
.average-rating {
    font-size: 13px;
}
.average-rating .ratings .rating-box {
    margin-top: 1px;
}
.ratings .rating-box {
    float: left;
    margin-right: 6px;
    margin-top: 3px;
}
.rating-box {
    width: 69px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(/wp-content/plugins/wp-liked-posts/bkg_rating.gif) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}
.rating-box .rating {
    float: left;
    height: 13px;
    background: url(/wp-content/plugins/wp-liked-posts/bkg_rating.gif) 0 100% repeat-x;
}
